@(form: Form[ArticleTemplate])(implicit request: RequestHeader, user: User)

@import tags._
@implicitFieldConstructor = @{helper.FieldConstructor(tags.bootstrapFieldConstructor.f)}

@mainAdmin("ArticleTemplate") {
  <h2>ArticleTemplate</h2>
  <div class="row">
    <div class="col-md-12">
  
  @helper.form(action = routes.ArticleTemplateController.save(), 'class -> "form-horizontal", 'role -> "form") {
  
    @if(form.hasGlobalErrors) {
      <p>
        <ul>
      @for(error <- form.globalErrors) {
          <li><span class="text-danger">@error.message</span></li>
      }
        </ul>
      </p>
    }
    
      <input type="hidden" name="id" value="@form("id").value" />
      @helper.inputText(form("headline"), '_label -> "Headline", '_help -> "", 'class -> "form-control")
      @helper.textarea(form("body"), '_label -> "Body", '_help -> "", 'rows -> 20, 'class -> "form-control")
      
    @submitAndCancel(routes.ArticleTemplateController.list())
  }
    </div>
  </div>
  
}