@(articleTemplateForm: Form[ArticleTemplate])(implicit request: Request[Any], flash: Flash, lang: Lang, user: User)

@import tags._
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@mainSecured("ArticleTemplate") {
  <h2>ArticleTemplate</h2>
  @form(action = routes.ArticleTemplateController.save()) {
    <fieldset>
      <input type="hidden" name="id" value="@articleTemplateForm("id").value" />
      @inputText(articleTemplateForm("headline"), '_label -> "Headline")
      @textarea(articleTemplateForm("body"), '_label -> "Body")
      
    </fieldset>
    @submitAndCancel(routes.ArticleTemplateController.list())
  }
}