@(articleTemplates: Seq[ArticleTemplate])(implicit request: RequestHeader, messages: Messages, user: User)
@mainSecured(Messages("section.admin.articleTemplates")) {
  <h2>@Messages("section.admin.articleTemplates")</h2>
  
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>@Messages("articleTemplate.id")</th>
        <th>@Messages("articleTemplate.headline")</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="3"><a href="@routes.ArticleTemplateController.create()" class="btn btn-default btn-sm" title="Add"><span class="glyphicon glyphicon-plus"></span></a></td>
      </tr>
    @for(articleTemplate <- articleTemplates) {
      <tr>
        <td>@articleTemplate.id</td>
        <td>@articleTemplate.headline</td>
        <td><a href="@routes.ArticleTemplateController.edit(articleTemplate.id.get)" class="btn btn-default btn-sm" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a></td>
      </tr>
    }

    </tbody>
  </table>
  
}