@import kipsigman.play.auth.entity.User
@import services.ContentAuthorizationService
@import services.ImageService
@import services.UrlService
@(articleTemplate: ArticleTemplate, contentAuthorizationService: ContentAuthorizationService, imageService: ImageService)(implicit request: RequestHeader, messages: Messages, user: Option[User])

@contentActions = {
  <a href="@routes.ArticleController.create(articleTemplate.id.get)" class="btn btn-warning btn-xs" title="@Messages("article.customize.description")"><span class="glyphicon glyphicon-pencil"></span> @Messages("article.customize")</a>
  @if(contentAuthorizationService.canViewEditLink(articleTemplate)){
  <a href="@routes.ArticleTemplateController.edit(articleTemplate.id.get)" class="btn btn-warning btn-sm" title="@Messages("articleTemplate.edit")"><span class="glyphicon glyphicon-edit"></span></a>
  }
}

@defining(routes.ArticleTemplateController.view(articleTemplate.category, articleTemplate.id.get).absoluteURL) { viewUrl =>
  @tags.viewArticleContent(articleTemplate, viewUrl, contentActions, imageService)
}