@import kipsigman.play.auth.entity.User
@import b3.vertical.fieldConstructor
@(form: Form[kipsigman.play.auth.mvc.SignInForm.Data])(implicit request: RequestHeader, messages: Messages, user: Option[User])
@views.html.theme.allegro.layoutFullWidth(Messages("auth.sign.in")) {
<div class="paragraph-row">
  <div class="column6">
    <p>
      @Messages("auth.not.a.member") <a href="@routes.UserController.signUp(form("successUrl").value)">@Messages("auth.sign.up")</a>
    </p>
  @b3.form(helper.CSRF(routes.UserController.signInPost())) {
    @b3.email(form("email"), '_hiddenLabel -> Messages("user.email"), 'placeholder -> Messages("user.email"))
    @b3.password(form("password"), '_hiddenLabel -> Messages("user.password"), 'placeholder -> Messages("user.password"))
    @b3.checkbox(form("rememberMe"), '_text -> Messages("auth.remember.me"), 'checked -> true)
    @b3.hidden("successUrl", form("successUrl").value)
    @views.html.theme.allegro.component.formButtons(routes.SiteController.index(), None, Some(Messages("auth.sign.in")))
  }
  
  </div>
  <div class="column6"></div>
</div>
}