@import kipsigman.play.auth.entity.User
@import b3.vertical.fieldConstructor
@()(implicit request: RequestHeader, messages: Messages, user: Option[User])
@views.html.theme.allegro.layoutFullWidth(Messages("user.profile")) {
<div class="paragraph-row">
  <div class="column6">
    <form class="form-vertical " role="form">
  @if(user.get.avatarURL.isDefined){
      <p><img src="@user.get.avatarURL.get"/></p>
  }
      <div class="form-group" id="email_field">
        <label class="control-label" for="email">@Messages("user.email")</label>
        <input type="email" id="email" name="email" value="@user.get.email" class="form-control">
      </div>
      <div class="form-group" id="firstName_field">
        <label class="control-label" for="firstName">@Messages("user.first.name")</label>
        <input type="text" id="firstName" name="firstName" value="@user.get.firstName.getOrElse("")" class="form-control">
      </div>
      <div class="form-group" id="lastName_field">
        <label class="control-label" for="lastName">@Messages("user.last.name")</label>
        <input type="text" id="lastName" name="lastName" value="@user.get.lastName.getOrElse("")" class="form-control">
      </div>
      <div class="form-group" id="roles_field">
        <label class="control-label" for="roles">@Messages("user.roles")</label>
        <ul>
  @for(role <- user.get.roles) {
          <li>@role.name</li>
  }
        </ul>
      </div>      
    </form>
  </div>
  <div class="column6"></div>
</div>
}