@import kipsigman.play.auth.entity.User
@()(implicit request: RequestHeader, messages: Messages, user: User)

@mainSecured(Messages("user.profile")) {
  <div class="row">
    <div class="col-md-12">
      <h1>@Messages("user.profile")</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <dl class="dl-horizontal">
  @if(user.avatarURL.isDefined){
  	    <dt>@Messages("user.avatar")</dt>
        <dd><img src="@user.avatarURL.get"/></dd>
  }
        <dt>@Messages("user.first.name")</dt>
        <dd>@user.firstName.getOrElse("None")</dd>
        <dt>@Messages("user.last.name")</dt>
        <dd>@user.lastName.getOrElse("None")</dd>
        <dt>@Messages("user.email")</dt>
        <dd>@user.email</dd>
        <dt>@Messages("user.roles")</dt>
        <dd>
          <ul>
  @for(role <- user.roles) {
            <li>@role.name</li>
  }
		</ul>
        </dd>
      </dl>
    </div>
  </div>
}
