/* Color Scheme */
.header,.breaking-news .the-title,.widget > h3,.button,a.small-button,.marker,.hover-effect,.block-title,#wp-calendar td#today, .small-button {
  background-color: #F26D22;
}

.list-title, a:hover, a.mobile-menu, .widget .meta a { color: #F26D22; }
.list-title { border-bottom: 2px solid #F26D22; }

/* Menu Font */
.main-menu .the-menu li a, .secondary-menu ul li a { font-family:"Titillium Web", sans-serif; }
/* Block Titles */
.list-title { font-family:"Titillium Web", sans-serif; }
/* Article Titles */
h1, h2, h3, h4, h5, h6 { font-family: 'Source Sans Pro', sans-serif; }


/* shortcode.css */
.paragraph-row {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* main-stylesheet.css */
a {
  color: #337ab7;
}

.article-title h1 {
  margin-top: 10px;
}

.block-content p {
  font-size: 14px;
}

/* Nav header/menus */
.header > p {
  vertical-align: middle;
}

.header .header-middle {
  float: left;
  display: inline;
  margin-left: 12px;
  margin-right: 12px;
  text-align: right;
  vertical-align: middle;
}

.header .header-addons {
  margin-bottom: 10px;
  margin-top: 10px;
  vertical-align: middle;
}

.header > .wrapper {
  padding: 10px 0px;
}

.header .header-middle .header-weather {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 100%;
  vertical-align: baseline;
}

.header .header-middle .header-weather .report {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  vertical-align: baseline;
  line-height: 100%;
}

.header .header-middle .header-weather .city small {
  display: block;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.header .header-middle .header-weather .city {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  vertical-align: baseline;
  line-height: 100%;
  text-align: left;
}

.header .header-middle .header-weather img {
  display: inline-block;
  vertical-align: baseline;
  margin: 0px 3px -2px 3px;
}

.main-menu .the-menu li.menu-item-right {
  float: right;
}

.comment-form {
  display: block;
  width: 100%;
  max-width: 360px;
  margin: 20px auto;
}

.comment-form p {
  display: block;
  position: relative;
}

.comment-form p textarea,
.comment-form p input[type=text] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 10px;
  display: block;
  background: #fff;
  font-size: 13px;
  border: 1px solid #d3d3d3;
  font-family: 'Arial';
  border-radius: 2px;
  -moz-border-radius: 2px;
}

.comment-form p textarea:focus,
.comment-form p input[type=text]:focus {
  border: 1px solid #bababa;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
}

.comment-form p textarea {
  height: 100px;
}

.comment-form p label {
  display: block;
  position: absolute;
  left: -120px;
  white-space: nowrap;
  line-height: 30px;
  width: 100px;
  text-align: right;
  top: 2px;
  color: #6b6b6b;
}