/* Color Scheme */
.header,.breaking-news .the-title,.widget > h3,.button,a.small-button,.marker,.hover-effect,.block-title,#wp-calendar td#today, .small-button, #writecomment p input[type=submit] {
  background-color: #F26D22;
}

.list-title, a:hover, a.mobile-menu, .widget .meta a { color: #F26D22; }
.list-title { border-bottom: 2px solid #F26D22; }

/* Menu Font */
.main-menu .the-menu li a, .secondary-menu ul li a { font-family:"Titillium Web", sans-serif; }
/* Block Titles */
.list-title { font-family:"Titillium Web", sans-serif; }
/* Article Titles */
h1, h2, h3, h4, h5, h6 { font-family: 'Source Sans Pro', sans-serif; }


/* shortcode.css */
.paragraph-row {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* main-stylesheet.css */
a {
  color: #337ab7;
}

.article-title h1 {
  margin-top: 10px;
}

.block-content p {
  font-size: 14px;
}

/* Nav header/menus */
.header > p {
  vertical-align: middle;
}

.header .header-middle {
  float: left;
  display: inline;
  margin-left: 12px;
  margin-right: 12px;
  text-align: right;
  vertical-align: middle;
}

.header .header-addons {
  margin-bottom: 10px;
  margin-top: 10px;
  vertical-align: middle;
}

.header > .wrapper {
  padding: 10px 0px;
}

.header .header-middle .header-weather {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 100%;
  vertical-align: baseline;
}

.header .header-middle .header-weather .report {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  vertical-align: baseline;
  line-height: 100%;
}

.header .header-middle .header-weather .city small {
  display: block;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.header .header-middle .header-weather .city {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  vertical-align: baseline;
  line-height: 100%;
  text-align: left;
}

.header .header-middle .header-weather img {
  display: inline-block;
  vertical-align: baseline;
  margin: 0px 3px -2px 3px;
}

.main-menu .the-menu li.menu-item-right {
  float: right;
}