@import kipsigman.domain.entity.Category
@import kipsigman.play.auth.entity.User
@import services.AdService
@(title: String, category: Option[Category] = None, headIncludes: Html = Html(""), jsIncludes: Html = Html(""))(mainContent: Html)(implicit request: RequestHeader, messages: Messages, user: Option[User], adService: AdService)

@views.html.theme.allegro.layout(title, category, headIncludes, jsIncludes) {
<div class="main-content">
  <div class="full-width">
    <div class="block">
      <div class="block-title">
        <h2>@title</h2>
      </div>
      <div class="block-content">
            @mainContent
      </div><!-- block-content -->
    </div><!-- block -->
  </div><!-- full-width-->
</div><!-- main-content -->
}