@import kipsigman.domain.entity.Category
@import kipsigman.play.auth.entity.User
@import services.AdService
@(title: String, category: Option[Category] = None, headIncludes: Html = Html(""), jsIncludes: Html = Html(""))(mainContent: Html)(implicit request: RequestHeader, messages: Messages, user: Option[User], adService: AdService)
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
@views.html.theme.allegro.head(title, headIncludes)
<body>
  <div class="boxed">
    @views.html.theme.allegro.bodyHeader(category)
    <div class="content">
      <div class="wrapper">
        @views.html.theme.allegro.component.adBanner(AdBanner.Style.Leaderboard)
        @mainContent
      </div><!-- wrapper -->
    </div><!-- content -->
    @views.html.theme.allegro.footer()
  </div><!-- boxed -->
    
<!-- Javascript: Third party -->
<script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="@controllers.routes.Assets.at("js/bootstrap.min.js")"></script>
<!--   fullcalendar -->
<script src="@routes.Assets.at("js/moment-with-locales.js")"></script>
<script src="@routes.Assets.at("fullcalendar-2.6.1/fullcalendar.js")"></script>
<script src="@routes.Assets.at("fullcalendar-2.6.1/gcal.js")"></script>

<!-- Javascript: Allegro Theme -->
<script type='text/javascript' src='@controllers.routes.Assets.at("theme/allegro/js/modernizr.custom.50878.js")'></script>
<script type='text/javascript' src='@controllers.routes.Assets.at("theme/allegro/js/jquery.infinitescroll.min.js")'></script>
<script type='text/javascript' src='@controllers.routes.Assets.at("theme/allegro/js/theme-scripts.js")'></script>
<script type='text/javascript' src='@controllers.routes.Assets.at("theme/allegro/js/iscroll.js")'></script>
<script type='text/javascript' src='@controllers.routes.Assets.at("theme/allegro/js/dat-menu.js")'></script>

<!-- Javascript: Custom -->
<script type="text/javascript" src="@routes.JavaScriptResourceController.configJs"></script>
<script type="text/javascript" src="@routes.JavaScriptResourceController.messagesJs"></script>
<script type="text/javascript" src="@routes.JavaScriptResourceController.routesJs"></script>
<script type='text/javascript' src='@controllers.routes.Assets.at("js/allegro-custom.js")'></script>
<script type="text/javascript" src="@controllers.routes.Assets.versioned("js/analytics.js")"></script>
<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/main.js")"></script>
<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/widgets.js")"></script>
@jsIncludes
</body>
</html>