@import kipsigman.domain.entity.Category
@import kipsigman.play.auth.entity.User
@(article: Article)(implicit request: RequestHeader, messages: Messages, user: Option[User])
<!-- BEGIN main-sidebar right -->
<div class="main-sidebar right">
  @views.html.theme.allegro.widget.sidebarBanner(true, 300, 250)
  @views.html.theme.allegro.widget.recentArticles(false, Option(article.category), Seq(article.id.get))
  @views.html.theme.allegro.widget.trendingArticles(false, Seq(article.id.get))
</div>
<!-- END main-sidebar right -->