body {
  padding-top: 70px;
}

.table-editable .edit-toggle {
	visibility: hidden;
	float: right;
}
.table-editable td:hover .edit-toggle {
    visibility: visible;
}
.small {
	font-size: 85%;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

.row {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}