@import b3.vertical.fieldConstructor
@import kipsigman.domain.entity.Category
@import kipsigman.domain.entity.ContentImage
@import kipsigman.play.auth.entity.User
@import kipsigman.domain.entity.Status
@(article: Article, contentImages: Seq[ContentImage], form: Form[_])(implicit request: RequestHeader, messages: Messages, user: Option[User])

@headIncludes = {
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
}

@jsIncludes = {
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="@routes.Assets.at("javascripts/modal.js")"></script>
<script src="@routes.Assets.at("javascripts/article/edit-functions.js")"></script>
<script src="@routes.Assets.at("javascripts/article/create.js")"></script>
}

@views.html.theme.allegro.layout(Messages("article.create"), Option(article.category), headIncludes = headIncludes, jsIncludes = jsIncludes) {
@b3.form(helper.CSRF(routes.ArticleController.createPost(article.articleTemplate.id.get)), 'id -> "save-article-form") {
    @b3.hidden("articleId", "", 'id -> "articleId")
    @b3.hidden("articleTemplateId", article.articleTemplate.id.get, 'id -> "articleTemplateId")
<div class="main-content">
  <div class="full-width">
    <div class="article-title">
      @views.html.theme.allegro.component.categoriesLabels(article.categories)
      <h1>@Html(article.headlineInlineEditHtml)</h1>
      <h3>@views.html.theme.allegro.component.statusLabel(article.status)</h3>
      <div class="author">
        <div class="a-content">
          <span class="meta">
            <b>@Messages("article.publishDate"):</b>
            <div class="form-inline">
              @b3.radio(form("publishDateFixed"), options = ArticleForms.publishDateFixedOptions)
              @b3.date(form("publishDate"))
            </div>
          </span>
        </div>
      </div>
    </div><!-- article-title -->
  </div><!-- full-width -->
  <div class="main-page left">
    <div class="single-block">
      <div class="content-block main left">
        <div class="block">
          <div class="block-content post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
            <p>
              @views.html.theme.allegro.component.contentImage(contentImages.headOption)
            </p>
            <div class="shortcode-content">
              @views.html.article.body(article, false)
              <div class="paragraph-row article-title">
                <div class="column3">
                  &nbsp;
                </div>
                <div class="column9">
                  <button id="save-btn" class="btn btn-primary" disabled="disabled">@Messages("action.create")</button>
                </div>
              </div>
            </div><!-- shortcode-content -->
          </div><!-- body/image -->
        </div><!-- block -->
      </div><!-- content-block main left-->
    </div><!-- single-block -->
  </div><!-- main-page -->
  
  @views.html.theme.allegro.sidebarArticle(article)
  <div class="clear-float"></div>
</div><!-- main-content -->
  }
}