@(article: Article, articleTemplate: ArticleTemplate)(implicit request: RequestHeader, messages: Messages, user: Option[User])

@cssIncludes = {
<link href="@routes.Assets.at("stylesheets/bootstrap-editable.css")" rel="stylesheet">
}

@jsIncludes = {
<script src="@routes.Assets.at("javascripts/bootstrap-editable.min.js")"></script>
<script src="@routes.Assets.at("javascripts/article.js")"></script>
}

@main(Messages("Article"), cssIncludes, jsIncludes) {
  
  <input id="articleId" type="hidden" name="articleId" value="@article.id" />
  <input id="articleTemplateId" type="hidden" name="articleTemplateId" value="@article.articleTemplateId" />
  <h4>@Html(models.TagContent.contentHtmlInlineEdit(articleTemplate.headline))</h4>
  @Html(models.TagContent.contentHtmlInlineEdit(articleTemplate.body))
  <p>
    <br/><br/>
    <div id="shareArticleDraft">
      <h4>@Messages("article.create.share")</h4>
      <span class="text-error">@Messages("article.create.description")</span>
    </div>
    <div id="shareArticlePublish" class="form-group">
      <h4>@Messages("article.create.share")</h4>
      <label class="sr-only" for="articleUrl">@Messages("article.create.share")</label>
	  <input type="text" class="form-control" id="articleUrl" name="articleUrl">
    </div>
  </p>
}