@import kipsigman.play.auth.entity.User
@import services.ContentAuthorizationService
@import services.UrlService
@(article: ArticleInflated, contentAuthorizationService: ContentAuthorizationService)(implicit request: RequestHeader, messages: Messages, user: Option[User])

@contentActions = {
  @if(contentAuthorizationService.canViewEditLink(article)){
  	<a href="@routes.ArticleController.edit(article.id.get)" class="btn btn-default btn-xs" title="@Messages("action.edit")"><span class="glyphicon glyphicon-pencil"></span></a>
  }else{
    @if(!article.isOwnedBy(user)){
    <a href="@routes.ArticleController.create(article.articleTemplateId)" class="btn btn-default btn-xs" title="@Messages("article.customize")"><span class="glyphicon glyphicon-pencil"></span></a>
    }
  }
}
	
@defining(routes.ArticleController.view(article.category, article.seoAlias).absoluteURL) {viewUrl =>
  @tags.viewArticleContent(article, viewUrl, contentActions)
}