@import kipsigman.play.auth.entity.User
@(cssId: String, title: String = "", body: Option[String] = None, footer: Option[String])(implicit request: RequestHeader, messages: Messages, user: Option[User])
<div id="@cssId" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">@title</h4>
      </div>
  @if(body.isDefined){
      <div class="modal-body">
        @Html(body.get)
      </div>
  }
  @if(footer.isDefined){
      <div class="modal-footer">
        @Html(footer.get)
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
  }
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->