@import kipsigman.play.auth.entity.User
@(viewUrl: String, contentActions: Html)(implicit request: RequestHeader, messages: Messages, user: Option[User])
<!-- Share/Actions -->
<div class="row">
  <div class="col-md-2">
    @contentActions
  </div>
  <div class="col-md-2">
    <a id="twitterShare" href="https://twitter.com/share" class="twitter-share-button" data-url="@viewUrl" data-text="Check out this article">Tweet</a>
  </div>
  <div class="col-md-2">
  	<div class="fb-share-button" data-href="@viewUrl" data-layout="button_count"></div>
  </div>
  <div class="col-md-2">
    <div class="g-plusone"></div>
  </div>
  <div class="col-md-2">
    <a href="mailto:?subject=Check out this article&body=@viewUrl" class="btn btn-info btn-xs" target="_blank"><span class="glyphicon glyphicon-envelope"></span> @Messages("action.share.email")</a>
  </div>
  
  <div class="col-md-2">
  </div>
</div>