@(f: Flash)
<div class="row">
@f.data.map {
  case ("error", value) => {
    <div class="col-md-12 alert alert-danger">
	  <a href="#" class="close" data-dismiss="alert">&times;</a>
	  @value
    </div>
  }
  case ("info", value) => {
    <div class="col-md-12 alert alert-info">
	  <a href="#" class="close" data-dismiss="alert">&times;</a>
	  @value
    </div>
  }
  case ("success", value) => {
  	<div class="col-md-12 alert alert-success">
	  <a href="#" class="close" data-dismiss="alert">&times;</a>
	  @value
    </div>
  }
  case ("warning", value) => {
  	<div class="col-md-12 alert alert-warning">
	  <a href="#" class="close" data-dismiss="alert">&times;</a>
	  @value
    </div>
  }
}
</div>