@import kipsigman.play.auth.entity.User
@import services.ImageService
@import services.UrlService
@(article: ArticleContent[_], viewUrl: String, contentActions: Html, imageService: ImageService)(implicit request: RequestHeader, messages: Messages, user: Option[User])

@headIncludes = {
  @if(!article.isPublic) {
  	<meta name="robots" content="noindex">
  }
}

@jsIncludes = {
<script src="@routes.Assets.at("javascripts/article-view.js")"></script>
}

@main(article.headline, Option(article.category), headIncludes = headIncludes, jsIncludes = jsIncludes) {
<!-- Modal for encouraging customization -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">@Messages("article.customize.description")</h4>
      </div>
      <div class="modal-body">
        Customize this article, it's awesome!
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <!-- Headline -->
    <div class="row">
      <div class="col-md-12">
        <h1>@Html(article.headline)</h1>
      </div>
    </div>
  @if(article.isPublished) {
    @tags.contentActions(viewUrl, contentActions)
  }
    <div class="row">
      <div class="col-md-12">
        <hr/>
      </div>
    </div>
    
  @if(article.imageFileName.isDefined) {
    <!-- Image -->
    <div class="row">
      <div class="col-md-9">
        <div class="thumbnail">
          <img class="img-responsive" src="@imageService.imageUrl(article)" />
    @if(article.imageCaption.isDefined) {
          <div class="caption">
            @article.imageCaption.get
          </div>
    }
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  }
    <!-- Body -->
    <div class="row">
      <div class="col-md-12">
        
  @Html(article.body)
        <p><br/></p>
      </div>
    </div>
  @if(article.isPublished) {
    @tags.contentActions(viewUrl, contentActions)
  }
  </div>
  <div class="col-md-4">
  <!-- Right sidebar -->
  </div>
</div>
}
