@(newUserForm: Form[User])(implicit request: Request[Any], flash: Flash, lang: Lang, user: User)

@import tags._
@import helper._
@import helper.twitterBootstrap._

@mainAdmin("Create New User") {
  <h2>Create New User</h2>
  @helper.form(action = routes.UserController.save(), 'role -> "form") {
    <fieldset>
      <input type="hidden" name="id" value="@newUserForm("id").value" />
      @helper.inputText(newUserForm("name"), '_label -> "Name", 'class -> "form-control")
      @helper.inputText(newUserForm("email"), '_label -> "Email Address", 'class -> "form-control")
      @helper.inputPassword(newUserForm("password"), '_label -> "Password", 'class -> "form-control")
      @select(newUserForm("permission"), 
              models.Permission.displayValues, 
              '_label -> "Permissions", '_default -> "-- Select --",
              '_showConstraints -> false, 'class -> "form-control")
    </fieldset>
    @submitAndCancel(routes.UserController.list())
  }
}