@(users: Seq[User])(implicit request: RequestHeader, user: User)
@mainAdmin("Users") {
  <h2>Users</h2>
  
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Permission</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

    @for(aUser <- users) {
      <tr>
        <td>@aUser.id</td>
        <td>@aUser.name</td>
        <td>@aUser.email</td>
        <td>@aUser.permission</td>
        <td><a href="@routes.UserController.edit(aUser.id)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a></td>
      </tr>
    }
    </tbody>
  </table>
  
  <p>
    <a href="@routes.UserController.create()" class="btn btn-default btn-sm" title="Add"><span class="glyphicon glyphicon-plus"></span></a>
</p>
}