@import kipsigman.play.auth.entity.User
@(articleId: Int, commentGroup: ArticleCommentGroup)(implicit request: RequestHeader, messages: Messages, user: Option[User])

@views.html.article.component.comment(commentGroup.parent)

<ul id="comment-children-@commentGroup.parent.id" class="children">
@for(childComment <- commentGroup.children) {
  <li class="comment">
    @views.html.article.component.comment(childComment)
  </li>
}
</ul><!-- .children -->
@views.html.article.component.commentForm(articleId, commentGroup.parent.id)