@import kipsigman.domain.entity.Category
@import kipsigman.play.auth.entity.User
@(category: Category, article: Article, commentGroup: ArticleCommentGroup)(implicit request: RequestHeader, messages: Messages, user: Option[User])

@views.html.article.component.comment(commentGroup.parent, commentGroup.parentId)

<ul class="children">
@for(childComment <- commentGroup.children) {
  <li class="comment">
    @views.html.article.component.comment(childComment, commentGroup.parentId)
  </li>
}
</ul><!-- .children -->
@views.html.article.component.commentForm(category, article, Option(commentGroup.parentId))