@import kipsigman.domain.entity.Category
@import kipsigman.play.auth.entity.User
@import b3.vertical.fieldConstructor
@(category: Category, article: Article, commentGroups: Seq[ArticleCommentGroup])(implicit request: RequestHeader, messages: Messages, user: Option[User])

<div id="comments" class="block-title">
  <h2>@Messages("comment.list.title", commentGroups.size)</h2>
</div>
<div class="block-content">
  @views.html.article.component.commentForm(category, article, None)
  <div class="comment-block">
    <ol class="comments" >
  @for(commentGroup <- commentGroups) {
      <li class="comment byuser comment-author-admin bypostauthor even thread-even depth-1">
    @views.html.article.component.commentGroup(category, article, commentGroup)
      </li>
  }
    </ol>
    <div class="comments-pager"></div>
  </div>
</div>