@import kipsigman.domain.entity.Category
@import kipsigman.domain.entity.Page
@import kipsigman.play.auth.entity.User
@import services.StringService
@(category: Category, page: Page[ArticleWithImages])(implicit request: RequestHeader, messages: Messages, user: Option[User])

@defining(Messages(s"category.name.${category.name}")) {categoryDisplayName =>
  @views.html.theme.allegro.layout(s"$categoryDisplayName - ${Messages("nav.brand")}", Option(category)) {  
<div class="main-content">
  <div class="main-page left">
    <div class="single-block">
      <div class="content-block main left">
        <div class="block">
          <div class="block-title">
            <h2>@categoryDisplayName</h2>
          </div><!-- block-title -->
          <div class="block-content">   
  @for(awi <- page.items) {
            <div class="article-big has-post-thumbnail hentry">
              @views.html.theme.allegro.component.articleImage(Option(category), awi.article, awi.contentImages.headOption, 210, 140)
              <div class="article-content">
                <h2>
                  <a href="@ViewHelper.viewArticle(category, awi.article)">@awi.article.headline</a>
                  <span class="meta"></span>
                </h2>
                <span class="meta"></span>
                <p>@Html(awi.article.bodyTeaser(300))</p>
                <span class="meta">
                  <a href="@ViewHelper.viewArticle(category, awi.article)" class="more">@Messages("action.view.more")@ViewHelper.iconSpan("triangle-right")</a>
                </span>
              </div>
            </div>
  }
            @views.html.theme.allegro.component.pagination(page, (pageIndex: Int) => controllers.routes.SiteController.category(category, pageIndex))
          </div><!-- block-content -->
        </div><!-- block -->
      </div><!-- content-block main left -->
    </div><!-- single-block -->
  </div><!-- main-page left -->
  @views.html.theme.allegro.sidebarCategory(category)
  <div class="clear-float"></div>
</div><!-- main-content -->
  }
}
