@import kipsigman.domain.entity.Category
@import kipsigman.domain.entity.Page
@import kipsigman.play.auth.entity.User
@import services.AdService
@import services.StringService
@(category: Category, page: Page[ArticleWithImages], templateIds: Set[Int])(implicit request: RequestHeader, messages: Messages, user: Option[User], adService: AdService)

@defining(Messages(s"category.name.${category.name}")) {categoryDisplayName =>
  @views.html.theme.allegro.layout(s"$categoryDisplayName - ${Messages("nav.brand")}", Option(category)) {  
<div class="main-content">
  <div class="main-page left">
    <div class="single-block">
      <div class="content-block main left">
        <div class="block">
          <div class="block-title">
            <h2>@categoryDisplayName</h2>
          </div><!-- block-title -->
          <div class="block-content">   
            @views.html.component.mainArticles(Option(category), page.items)
            @views.html.component.pagination(page, (pageIndex: Int) => controllers.routes.SiteController.category(category, pageIndex))
          </div><!-- block-content -->
        </div><!-- block -->
      </div><!-- content-block main left -->
    </div><!-- single-block -->
  </div><!-- main-page left -->
  @views.html.theme.allegro.sidebarCategory(category, templateIds)
  <div class="clear-float"></div>
</div><!-- main-content -->
  }
}
