@import kipsigman.play.auth.entity.User
@import services.AdService
@()(implicit request: RequestHeader, messages: Messages, user: Option[User], adService: AdService)

@views.html.theme.allegro.layoutFullWidth(Messages("nav.contact")) {
<div class="paragraph-row">
  <div class="column12">
    <h2>@Messages("company.contact.followUs")</h2>
    <p>
      <a href="https://twitter.com/razorsentinel1" target="_blank" class="social-icon">@ViewHelper.iconSpan("twitter") <b>Twitter</b></a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://www.facebook.com/razorsentinel/" target="_blank" class="social-icon">@ViewHelper.iconSpan("facebook") <b>Facebook</b></a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://plus.google.com/115818740727456290010" target="_blank" class="social-icon">@ViewHelper.iconSpan("google+") <b>Google+</b></a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://www.linkedin.com/company/7803583" target="_blank" class="social-icon">@ViewHelper.iconSpan("linkedin") <b>Linkedin</b></a>
    </p>
    <h2>@Messages("company.contact.advertising")</h2>
    <p>@Messages("company.contact.advertising.description")</p>
  </div>
</div><!-- paragraph-row -->
}