@import kipsigman.play.auth.entity.User
@import services.AdService
@(awis: Seq[ArticleWithImages], templateIds: Set[Int])(implicit request: RequestHeader, messages: Messages, user: Option[User], adService: AdService)

@views.html.theme.allegro.layout(Messages("nav.brand"), None) {  
<div class="main-content">
  <div class="main-page left">
    <div class="single-block">
      <div class="content-block main left">
        <div class="block">
          <div class="block-title">
            <h2>@Messages(s"category.name.${NewsCategoryOptions.TopStories.name}")</h2>
          </div><!-- block-title -->
          <div class="block-content">
            @views.html.component.mainArticles(None, awis)
          </div><!-- block-content -->
        </div><!-- block -->
      </div><!-- content-block main left -->
    </div><!-- single-block -->
  </div><!-- main-page left -->
  @views.html.theme.allegro.sidebarIndex()
  <div class="clear-float"></div>
</div><!-- main-content -->
}