@(form: Form[Option[User]])(implicit request: RequestHeader)

@implicitField = @{ helper.FieldConstructor(tags.twitterBootstrapInput.f) }

@mainPublic("Login") {
  <h2>Log in</h2>
  
  @form.globalError.map { error =>
      <p class="error">
        @error.message
      </p>
    }
    
  @helper.form(action = routes.AuthController.authenticate, 'class -> "form-horizontal", 'role -> "form") {
  
      @if(form.hasGlobalErrors) {
        <p class="text-error">
        @for(error <- form.globalErrors) {
          <span class="label important">@error.message</span>
        }
        </p>
      }
  
    <fieldset>
      @helper.inputText(form("email"), '_label -> "Email", 'type -> "email", '_help -> "", 'class -> "form-control", 'placeholder -> "Email", 'autocomplete -> "email")
      @helper.inputPassword(form("password"), '_label -> "Password", '_help -> "", 'placeholder -> "Password", 'class -> "form-control")
    </fieldset>
    <p>
        <button type="submit" class="btn btn-primary">Submit</button>
    </p>
  } 
}