@(loginForm: Form[Option[User]])(implicit request: Request[Any], flash: Flash, lang: Lang)

@import helper._
@import helper.twitterBootstrap._

@mainPublic("Login") {
  <h2>Log in</h2>
  
  @loginForm.globalError.map { error =>
      <p class="error">
        @error.message
      </p>
    }
    
  @helper.form(routes.AuthController.authenticate) {
    <fieldset>
      @inputText(loginForm("email"), '_help -> "")
      @inputPassword(loginForm("password"), '_help -> "")
    </fieldset>
    <p>
        <input type="submit" class="btn primary" value='Login'>
    </p>
  } 
}