@(form: Form[_])(implicit request: RequestHeader)

@implicitFieldConstructor = @{
  helper.FieldConstructor(tags.bootstrapFieldConstructor.f)
}

@mainPublic("Login") {
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        
  @helper.form(action = routes.AuthController.authenticate(), 'class -> "form-horizontal", 'role -> "form") {
    
    @if(form.hasGlobalErrors) {
      <p>
        <ul>
      @for(error <- form.globalErrors) {
          <li><span class="text-danger">@error.message</span></li>
      }
        </ul>
      </p>
    }
          
          @helper.inputText(form("email"), '_label -> "Email", 'type -> "email", '_help -> "", 'class -> "form-control", 'placeholder -> "Email", 'autocomplete -> "email")
          @helper.inputPassword(form("password"), '_label -> "Password", '_help -> "", 'placeholder -> "Password", 'class -> "form-control")
    
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </div>
    
  }
      </div>
  </div>
}
