@(title: String)(content: Html)(implicit flash: Flash, lang: Lang)
<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
  </head>
<body>
<div class="screenshot">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="@routes.Application.index()">@Messages("application.name")</a>
      </div>
    </div>
</div>
  <div class="container">
    @if(flash.get("success").isDefined){
      <div class="alert alert-success">
        @flash.get("success")
	  </div> 
	}
    @if(flash.get("error").isDefined){
      <div class="alert alert-error">
        @flash.get("error")
      </div>
    }
  
    @content
    @debug()
  </div>
</div>
</body>
</html>
