@(title: String, headerIncludes: Html = Html(""))(content: Html)(implicit request: RequestHeader, user: User)
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>@title</title>    
    <meta charset="utf-8">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Styles -->
    <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.at("stylesheets/main.css")">
    
    <!-- Javascripts -->
    <script type="text/javascript" src="@controllers.routes.Assets.at("lib/jquery/jquery.min.js")"></script>
    <script type="text/javascript" src="@controllers.routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>

    <!-- Additional Includes -->
    @headerIncludes
  </head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="@routes.Application.index()">@Messages("application.name")</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li@if(request.uri == routes.Application.indexAdmin().toString){ class="active"}><a href="@routes.Application.indexAdmin()">Admin Home</a></li>
            <li@if(request.uri.contains("/articleTemplates")){ class="active"}><a href="@routes.ArticleTemplateController.list()">Article Templates</a></li>
            <li@if(request.uri.contains("/users")){ class="active"}><a href="@routes.UserController.list()">Users</a></li>
          </ul>
          <p class="nav navbar-text navbar-right">
            @user.name <a href="@routes.AuthController.logout()">Logout</a>
          </p>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      @tags.flash(request.flash)
	  
      @content
      
    </div><!-- /.container -->
    
  </body>
</html>